In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [161]:
keep_list = ['_id','user','Ad Name','created_at','entities','lang','scopes','source','text','extended_tweet','retweeted_status','in_reply_to_screen_name','favorite_count','quote_count','reply_count','retweet_count']
masterDf = pd.DataFrame(columns=keep_list)

In [154]:
xl1 = pd.ExcelFile('sb_2022_p1.xlsx')

In [155]:
xl1.sheet_names

['Amazon - Mind Reader',
 'Amazon - Open Football',
 'AmazonPrimeVideo - LOTR',
 'AMC+ - Promo',
 'AvocadosFromMexico - Tailgate',
 'BMW - ZeusHera',
 'Booking - Elba']

In [158]:
dfOne = pd.read_excel(xl1, 'Amazon - Open Football')

In [163]:
dfOne.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 396 non-null    int64
 1   _id                        396 non-null    object
 2   created_at                 396 non-null    object
 3   id                         396 non-null    float64
 4   id_str                     396 non-null    int64
 5   text                       396 non-null    object
 6   source                     396 non-null    object
 7   truncated                  396 non-null    bool
 8   in_reply_to_status_id      18 non-null     float64
 9   in_reply_to_status_id_str  18 non-null     float64
 10  in_reply_to_user_id        25 non-null     float64
 11  in_reply_to_user_id_str    25 non-null     float64
 12  in_reply_to_screen_name    25 non-null     object
 13  user                       396 non-null    object
 14  geo                        0 non-null      float64
 15  coordinates                0 non-null      float64
 16  place                      8 non-null      object
 17  contributors               0 non-null      float64
 18  retweeted_status           211 non-null    object
 19  is_quote_status            396 non-null    bool
 20  quote_count                396 non-null    int64
 21  reply_count                396 non-null    int64
 22  retweet_count              396 non-null    int64
 23  favorite_count             396 non-null    int64
 24  entities                   396 non-null    object
 25  favorited                  396 non-null    bool
 26  retweeted                  396 non-null    bool
 27  filter_level               396 non-null    object
 28  lang                       396 non-null    object
 29  matching_rules             396 non-null    object
 30  display_text_range         80 non-null     object
 31  extended_tweet             96 non-null     object
 32  possibly_sensitive         165 non-null    float64
 33  extended_entities          60 non-null     object
 34  quoted_status_id           8 non-null      float64
 35  quoted_status_id_str       8 non-null      float64
 36  quoted_status              8 non-null      object
 37  quoted_status_permalink    8 non-null      object
dtypes: bool(4), float64(11), int64(6), object(17)
memory usage: 106.9+ KB

In [152]:
pklPath = "C:/Users/jacob/Desktop/Data Analytics 2022/2022 Ads/pickles/"
parqPath = "C:/Users/jacob/Desktop/Data Analytics 2022/2022 Ads/parquets/"
csvPath = "C:/Users/jacob/Desktop/Data Analytics 2022/2022 Ads/csvs/"

In [162]:
for file in range (1,9):
    xl = pd.ExcelFile('sb_2022_p{}.xlsx'.format(file))
    for i, sheet in enumerate(xl.sheet_names):
        exec(f'df{i} = pd.read_excel(xl,''sheet'')')
        exec(f'df{i}.insert(0,\'Ad Name\', sheet)')
        exec(f'df{i} = df{i}.merge(masterDf, how=\'outer\')')
        exec(f'df{i} = df{i}[keep_list]')
        exec(f'df{i}.to_pickle(pklPath+\'/\'+sheet+\'.pkl\')')

In [102]:
df0 = pd.read_excel(xl,'Amazon - Mind Reader')

In [140]:
dfNew = df0.merge(masterDf, how='outer')

In [142]:
dfNew = dfNew[keep_list]

In [143]:
dfNew.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167085 entries, 0 to 167084
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   _id                      167085 non-null  object
 1   user                     167085 non-null  object
 2   Ad Name                  0 non-null       object
 3   created_at               167085 non-null  object
 4   entities                 167085 non-null  object
 5   lang                     167085 non-null  object
 6   scopes                   81 non-null      object
 7   source                   167085 non-null  object
 8   text                     167085 non-null  object
 9   retweeted_status         106471 non-null  object
 10  in_reply_to_screen_name  16323 non-null   object
 11  favorite_count           167085 non-null  int64
 12  quote_count              167085 non-null  int64
 13  reply_count              167085 non-null  int64
 14  retweet_count            167085 non-null  int64
dtypes: int64(4), object(11)
memory usage: 20.4+ MB